extends layout.pug

include utils.pug
  append head
     link(rel='stylesheet' href='/stylesheets/sign-in.css')
     script(src="/javascripts/sign-up-demo-user.js" type="module")

block content 
  div(class='sign-up-panel-holder')
    div(id='left-sign-up-container')
      img(src='../assets/images/logo3.png', id="main-logo")
      div(id='left-sign-up')
        div(id="icons")
          div.image-container
            img(src="../assets/images/hp_steve_2.png", class="animated-images")
          
        p(id="p-text") Join millions of people getting more organized and productive!
    div(id='right-sign-up-container')
      div(id='right-sign-up')
        div(id="form-contents")
          form.first-form(action='/users/signup' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            +field(null, 'firstName', user.firstName, null, "First Name")
            if errors
              if errors.firstName 
                p(class="errors")= errors.firstName
            +field(null, 'lastName', user.lastName, null, "Last Name")
            if errors
              if errors.lastName 
                p(class="errors")= errors.lastName
            +field(null, 'email', user.email, null, "Email")
            if errors
              if errors.email 
                p(class="errors")= errors.email
            +field(null, 'username', user.username, null, "Username")
            if errors
              if errors.username 
                p(class="errors")= errors.username
            +field(null, 'password', null, "password", "Password")
            if errors
              if errors.password 
                p(class="errors")= errors.password
            +field(null, 'confirmPassword', null, "password", "Confirm Password")
            if errors
              if errors.confirmPassword 
                p(class="errors")= errors.confirmPassword
            div(id="sign-up-button")
              button(type='submit' id="register") Sign up!
              p(id="orOption") OR
              a(href="/users/login" id="login-button") Login
  form(action="/users/login" method="post")
    input(type='hidden' name='_csrf' value=csrfToken)
    input(type='hidden' name="emailAddress" value="demouser")
    input(type='hidden' name='password' value="Demo1!")
    button(type= "submit" id="demo-button") Demo User

